@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.header {
  background-color: #181818;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style-type: none ;
  gap: 32px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.nav-item-start {
  margin-right: 24px;
}

.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.nav-item-end {
  color: #000000;
  padding: 9px 20px 13px 20px;
  background-color: white;
  border-radius: 14px;
}

.beach {
  height: 713px;
  background: url(../img/sea.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.sea {
  text-align: center;
}

.text-beach {
  padding-top: 461px;
  color: #C0C0C0;
  font-weight: 400;
  font-size: 14px;
}

.theme {
  font-weight: 400;
  font-size: 54px;
  color: #FFFFFF;
}

.sea-text {
  width: 580px;
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
  color: #C0C0C0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.beach-logo {
  display: flex;
  justify-content: end;
}

.beach-pic {
  margin-top: 18px;
}

.do {
  background: #000000;
}

.do-thime {
  padding-top: 112px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
}

.do-text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  color: #C0C0C0;
}

.do-box {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.do-box-first {
  padding-top: 42px;
}

.do-box-inner-one {
  width: 576px;
  height: 600px;
  background-image: url(../img/phones.png);
}

.do-box-inner-theme {
  margin-top: 420px;
  margin-left: 30px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.do-box-inner-text {
  margin-left: 30px;
  margin-right: 5px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #C0C0C0; 
}

.do-box-inner-botton {
  margin: 10px 0 20px 30px;
}

.do-box-inner-two {
  width: 576px;
  height: 600px;
  background-image: url(../img/fone.png);
}

.do-box-second {
  padding-top: 16px;
  padding-bottom: 100px;
}

.do-box-inner-three {
  width: 576px;
  height: 600px;
  background-image: url(../img/nature.png);
}

.do-box-inner-four {
  width: 576px;
  height: 600px;
  background-image: url(../img/deer.png);
}

.do-box-inner-botton {
  padding: 3px 7px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
}

.mountain {
  height: 600px;
  background-image: url(../img/mountain.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.apply {
  background-color: #000000;
}

.apply-box {
  display: flex;
  margin: 0 auto;
}

.apply-header {
  display: flex;
  align-items: center;
  width: 720px;
  height: 540px;
  margin-left: auto;
  background-color: gray;
}

.apply-header-inner {
  width: 514px;
}

.apply-textstart {
  font-weight: 400;
  font-size: 14px;
  color: #C0C0C0;
  margin-left: 100px;
}

.apply-theme {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  margin-left: 100px;
  margin-top: 6px;
}

.apply-text-end {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 14px; 
  margin-left: 100px;  
}

.apply-bottom {
  margin-left: 70px;
  margin-top: 20px;
}
  
.apply-pic {
  width: 720px;
  height: 540px;
  background-image: url(../img/apply.png);
  margin-right: auto;
}

.leaf {
  height: 600px;
  background-image: url(../img/leaf.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.past {
  background-color: #000000;
}

.past-theme {
  padding-top: 113px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.past-text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #C0C0C0;
}

.past-img {
  margin-top: 82px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 140px;
}

.night-scy {
  height: 600px;
  background-image: url(../img/night-scy.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.need-help {
  background-color: #000000;
  padding-bottom: 121px;
}

.need-help-theme {
  margin: 0 auto;
  width: 571px;
  padding-top: 113px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.need-help-text {
  margin: 0 auto;
  margin-top: 15px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #C0C0C0;
}

.need-help-botton {
  margin: 31px auto 0;
  padding: 3px 7px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  gap: 10px;
  justify-content: space-evenly;
}